.conteiner {
    width: 100%;  
}
.box {
    max-width: 40%;
    margin: auto;
    padding: 30px;
    align-items: center;
    border-color: rgb(230, 173, 73);
    border-radius: 15px;
    background-color:rgb(252, 211, 140);
    font-family:'Times New Roman', Times, serif;
}
.p1 {
    width: 200px;
    
}
.passw {
    color:rgb(215, 70, 3);
    font-size:xx-large;
    max-width: 400px;
    word-wrap: break-word;
}
ul {
    margin: 0;
    list-style-type: none;
}

.btn {
    color: rgb(37, 37, 45);
    background-color: rgb(253, 152, 63);
    border-radius: 15px;
    border-color: rgb(252, 211, 140);
    width: 40%;
    height: 30px;
}
.btn:hover {
    background-color: rgb(238, 128, 31);
}
.check {
    
    width: 25px;
    height: 25px;
}
.check::before {
    background-color: white;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
}
.check::after {
    background-color: rgb(238, 128, 31);
    color-adjust: rgb(238, 128, 31);
    width: 25px;
    height: 25px;
    transform: translate(-50%, -50%);
}
.inp {
    border-radius: 10px;
    height: 25px;
    background-color: rgb(241, 239, 239);
    border-color: rgb(252, 211, 140);
    color: black;
}
